/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto:wght@100;300&display=swap');


  
  
  
  
  /* Definindo variáveis globais */

  /* serve para adicionar uma animação de rolagem suave e agradável para o usuário quando se movimenta entre as seções da página HTML. */
  html {
    scroll-behavior: smooth;
  }
  *,
  /*serve inclusive para os seletores*/
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
  /* Cores */
  --primary-color:hsl(0,0%,6.27%);
  --secondary-color: hsl(0,0%,8.63%);
  --third-color:hsl(0,0%,62.35%);
  --fourth-color:hsl(158.73,100%,30.98%);
  --input:hsl(210,10.34%,22.75%);

  --font-color:hsl(0,0%,100%);
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  
  /* Fontes */
    --font-primary:'Poppins', sans-serif;
    --font-secundary:'Roboto', sans-serif;;


}

ul {
  list-style-type: none;
  margin: 0; /* removendo a margem padrão da lista */
  padding: 0; /* removendo o preenchimento padrão da lista */
}

a {
  text-decoration: none;
  margin: 0; /* removendo a margem padrão da lista */
  padding: 0; /* removendo o preenchimento padrão da lista */
  color:var(--third-color);
}

body{
  background-color:var( --primary-color);
  position: relative;
  width: 100vw;
  height: 100vh;

}

header{
  position:relative;
  width: 100%;
  height: 100vh;
  display:grid;
  
}

nav {
/*   background-color: rgb(13, 13, 14); */
  padding: 25px;
  font-family: var(--font-primary);
 /*  height:5em ; */
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}


.video-container {
  position:absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit:cover;/*ajusta elemento dentro de containe preservanso a proporção e o aspecto*/
  z-index: -1; /*Diz o grau de empilhameto/*/
} 
  .name{
    display:flex
  }

  h1{
  position:absolute;
  top:40%;
  left:50%;
  font-size:3em;
  font-family: var(--font-primary);
  transform: translate(-50%, -50%);
  color:var(--font-color);
 
  }

 h2{
  position:absolute;
  top:50%;
  left:50%;
  font-size:2em;
  font-family: var(--font-primary);
  transform: translate(-50%, -50%);
  color: var(--font-color)

} 

#initial-text{
  color: var(--info-color);
}

.navBar{
display: flex;
flex-direction: row;

}

.icon-header{
 display:grid;
 align-self: flex-end;
 justify-self: end;
 gap:3em;
 margin-bottom:3em;
 margin-right:3em;
 

}
.icon-header img{
  height: 2em;
}

section{
  height: 100vh;
  padding: 2%;
  display: flex;
  z-index: 3;
}

@media only screen and (max-width: 767px) {
  /* Estilos para dispositivos móveis com largura máxima de 767 pixels */
  h1{
    font-size: 2em;
  }

  .video-container{
    min-height: 100vh;
    min-width: 100vw;
  }
  nav{
    margin-right: 5%;
  }

  .icon-header{
    margin-bottom: 10%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para dispositivos com largura mínima de 768 pixels e largura máxima de 1023 pixels (tablets) */


}

@media only screen and (min-width: 1024px) {
  /* Estilos para dispositivos com largura mínima de 1024 pixels (desktops) */


  
}



/*Seção de  Sobre Mim */

.about-me{
  display:grid;
  grid-template-columns:40% 60%; /*indica quantidade e tamanhos das colunas*/
  grid-row:1% 1%;
  grid-gap:5px; /*espaçamento entre linhas e colunas*/
  grid-template-areas: "title-about-me title-about-me" "my-image text-container";
  color:var(--font-color);
  font-size: var(--font-primary);
  padding:4em;
}

#coment{
  font-size:medium;
  color:var(--third-color);
}

.title-about-me{
  grid-area: title-about-me;
  justify-self: center;/*alinha o item no*/
  place-items: center;/* é como escrever: align-items: center;justify-items: center;*/
  font-size: 3em;
  padding: 5%;
}




.sub-title-about-me{
  font-size:2em;
  
}

.my-image img{
  width:100%;
  height:auto;
}


.description{
grid-area: description;
font-family: var(--font-primary);
text-align:start; 
color:var(--third-color);
margin-bottom:2%; 
border-bottom: solid 3px var(--third-color);
padding:5%;
}

#ask{
  color: #28a745;
}

#intro-sub-title{
  margin-top: 3%;
}



.description-bottom {
  /* grid-area: description-bottom; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px; /* Define o espaçamento entre as células */
}

.data{
  /* grid-area: data; */
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.data li{
 /*  background-color: #f5f5f5; */
  padding: 10px;
  justify-self:start;
  
}

#email{
  color:var(--fourth-color)
}

.data-color{
color: var(--third-color);
}

.btn-cv{
  background-color: hsl(158.73, 100%, 30.98%);
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  margin-top: 3%;
}

.btn-cv:hover{
  opacity:8;
  filter: brightness(125%)
}

.social{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  padding-top:auto;
  margin-top: 2%;
}

.social-links{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
  
}
.social-links img{
  height: 2em;
  height: 2em;
}

.social-links img:hover{
  background-color: #28a745;
  border-radius:90%;
}

#social-border{
  border-bottom: solid 3px var(--third-color);
  width: 3em;
}

/****/
/* tela pequena */
@media screen and (max-width: 768px) {
  .about-me {
    grid-template-columns: 1fr; /* mudar para apenas uma coluna */
    grid-template-areas: 
      "title-about-me"
      "my-image"
      "text-container";
  }
  
  .my-image img {
    width: 50%; /* fazer a imagem ocupar toda a largura da célula */
    height: auto; /* ajustar a altura proporcionalmente */
    border-radius:50%;
  }
  
  .social {
    margin-top: 5%; /* aumentar a margem superior */
  }
  
  .btn-cv {
    margin-top: 5%; /* aumentar a margem superior */
  }

  .title-about-me{
    grid-area: title-about-me;
    justify-self: center;/*alinha o item no*/
    place-items: center;/* é como escrever: align-items: center;justify-items: center;*/
    font-size: 2em;
    padding: 2%;
  }
  
  .sub-title-about-me{
    font-size:1em;
    
  }
  
  .description{
    font-size: small;
  }
  
  
 

}


/* tela média */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about-me {
    grid-template-columns: 1fr 1fr; /* mudar para duas colunas iguais */
    grid-template-areas: 
      "title-about-me title-about-me"
      "my-image text-container";
  }
  
  .my-image img {
    width: 100%; /* fazer a imagem ocupar toda a largura da célula */
    height: auto; /* ajustar a altura proporcionalmente */
    border-radius:50%;
  }
  
  .social {
    margin-top: 5%; /* aumentar a margem superior */
  }
  
  .btn-cv {
    margin-top: 5%; /* aumentar a margem superior */
  }
}

/* tela grande */
@media screen and (min-width: 1025px) {
  .about-me {
    grid-template-columns: 40% 60%; /* voltar para o layout original */
    grid-template-areas: 
      "title-about-me title-about-me"
      "my-image text-container";
  }
  
  .my-image img {
    width: 22em; /* voltar para o tamanho original */
    height: 30em; /* voltar para o tamanho original */
   
  }
  
  .social {
    margin-top: 2%; /* voltar para a margem original */
  }
  
  .btn-cv {
    margin-top: 3%; /* voltar para a margem original */
  }
}

/************************************************Section Projetos*/

/* .projects{
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows:2em 10em; 
  gap: 2em; 
  height: 100%; 
  
} */

/* #projects{
  align-self: center;
  font-family: var(--font-primary);
  color: var(--third-color);
  padding: 10px;
  text-align: center;

} */
   
/* .title-projects{
  align-self: center;
  font-family: var(--font-primary);
  text-align: center;
  color: var(--third-color);
  box-shadow: rgba(214, 214, 226, 0.25) 0px 13px 27px -5px, rgba(241, 235, 235, 0.3) 0px 8px 16px -8px;
  
}   */
/* .image-projects{
  display: flex;
  justify-content:space-evenly;
} */
/*  white-space: now-rap;
 object-fit: cover;
 width: calc(100%/4); */
 
/* .image-projects img{
  height:10em;
  width:14em;
 
} */

/* //--------------- carrosel em paginas */


.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows:auto;
  grid-gap:7% 7%; /*espaçamento entre linhas e colunas*/
  height:100%; 
}

.title-projects{
  display: flex;
  align-items: center;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3em;
}

.title-section{
  padding: 1%;
}

.find-classification{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:var(--font-color);
}



.project-sub-title{
  margin-right: 2em;
  border-bottom: solid 1px var(--primary-color); 
  color: var(--font-color);
}

.project-sub-title:hover{
 border-bottom: solid 1px var(--fourth-color); 
}

a:hover{
  color:var(--fourth-color);
}

#coment-projects{
  font-size:medium;
  color:var(--third-color);
} 




 

.carousel{
  display:grid;
  grid-template-columns: 3fr;
  grid-template-rows:repeat(3,1fr);
  height:68vh;/*adcionei para definir tamanho fixo container*/
  grid-area:
 "carousel-front"
 "carousel-back"
 "carousel-full"
 "carousel-nav carousel-nav";
}
  

.carousel-front{
display: flex;
justify-content: space-around;

}

.carousel-back{
display: flex;
justify-content: space-around;
}

.carousel-full{
display: flex;
justify-content: space-around;
}


.carousel.nav{
grid-area:carousel-nav carousel-nav;
}

.carousel img{
  height:8em;
  width:8em;
  box-shadow: rgba(255, 255, 255, 0.27) 0px 0px 0.25em, rgba(255, 255, 255, 0.27) 0px 0.25em 1em;
}


.carousel-nav{
width: 100%;
position:static;
bottom:0;
left:0;
background-color:var(--primary-color);
text-align: center;
height: 1em;

}

.carousel-button{
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color:rgb(255, 252, 252);
  border-radius: 50%;
  margin: 0 5px;
  cursor:pointer;
  
}

.carousel-button-selected{
  background-color:var(--fourth-color);
  width:14px;
  height:14px;
}


.carousel-selected{
  display: none;
}



@media only screen and (max-width: 767px) {
  /* Estilos para dispositivos móveis com largura máxima de 767 pixels */
.image-projects img{
  width: 7em;
  height: 7em;
}
 
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para dispositivos com largura mínima de 768 pixels e largura máxima de 1023 pixels (tablets) */
 

}

@media only screen and (min-width: 1024px) {
  /* Estilos para dispositivos com largura mínima de 1024 pixels (desktops) */


  
}


/************************************************Contact-me***************************************/



 .contact-me{
  display: grid;
  grid-template-columns:55% 45%;
  grid-template-rows: 35% 65%;
  grid-template-areas:"title-contact-me title-contact-me""form-contact-me my-contact";
  padding:3%;
  
 }

  #coment-title-contact-me{
  font-size:medium;
  color:var(--third-color);
  }

 .title-contact-me{
  grid-area: title-contact-me;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  font-size: 3em;
 }

 
  .form-contact-me{
   grid-area: form-contact-me;
   display: grid;
   grid-template-columns:1fr 1fr;
   grid-template-rows:auto; /* 20% 20% 60%; */
   column-gap: 2em;
   align-items:start;
   margin-bottom: 20%;
  color: var(--font-color);
  grid-template-areas:
  "form-name form-email"
  "form-subject form-subject" 
  "form-message form-message";
  padding: 2%;
  } 

  .form-name{
  grid-area: form-name;
  display: grid;
 
  
  
  }
  .form-email{
    display: grid;
    grid-area: form-email;
    justify-content: stretch;
  }
  .form-subject{
    display: grid;
    grid-area: form-subject;
    
  }

  .form-message{
    display: grid;
    grid-area:form-message;

  } 

  
  
 textarea{
  background-color: var(--secondary-color);
  
 }
 
 input{
  color: var(--third-color);
  background-color: var(--secondary-color);
  height: 3em; 
  border: none;
  border-bottom: 2px solid  var(--third-color);
  transition: all 0.3s ease-in-out;
 }

 input:hover{
  border-bottom: 2px solid var(--fourth-color);
  transform: scale(1.0.5);
 }

 label{
  color:var(--font-color);
  font-size: large;
  font-weight: bold;
  }

  #btn{
  background-color: hsl(158.73, 100%, 30.98%);
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  margin-top: 3%;
  
}

#btn:hover{
  opacity:8;
  filter: brightness(125%)
} 

.my-contact{
  grid-area: my-contact;
  color: var(--third-color);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "title-my-contact title-my-contact" 
  "sub-title-my-contact sub-title-my-contact"
  "icons icons-contact";
 /*  justify-items: center;
  justify-content:stretch; */
  padding: 2%;
  margin-bottom:30%;
} 

.title-my-contact{
display: grid;
grid-area: title-my-contact;
font-size: large;
color: var(--font-color);
font-weight: bold;

}

.sub-title-my-contact{
  display: grid;
  grid-area: sub-title-my-contact;
  text-align:start;
}

.icons{
display: grid;
grid-area: icons;
justify-content: center;
border-right:solid 3px var(--third-color);
}

.icons-contact{
  display: grid;
  grid-area: icons-contact;
  justify-items:start;
  margin-left: 10%;
  
}

.highlights{
  color: var(--font-color);
  font-weight: bold;
  }

@media only screen and (max-width: 767px) {
  /* Estilos para dispositivos móveis com largura máxima de 767 pixels */
  .contact-me {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "title-contact-me"
      "my-contact"
      "form-contact-me";
  }
  .my-contact {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-my-contact"
      "sub-title-my-contact icons-contact";
    margin-bottom: 1%;
    margin-top: 4%;
    padding: 3%;
  }
  .form-contact-me {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form-name"
      "form-email"
      "form-subject"
      "form-message";
    column-gap: 0;
    align-self: center;
  }

  .form-message{
    display: grid;
    grid-area:form-message;
    height: 75%;
  } 
   
 

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para dispositivos com largura mínima de 768 pixels e largura máxima de 1023 pixels (tablets) */
  

}

@media only screen and (min-width: 1024px) {
  /* Estilos para dispositivos com largura mínima de 1024 pixels (desktops) */


  
}
