/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto:wght@100;300&display=swap');


  
  
  
  
  /* Definindo variáveis globais */

  /* serve para adicionar uma animação de rolagem suave e agradável para o usuário quando se movimenta entre as seções da página HTML. */
  html {
    scroll-behavior: smooth;
  }
  *,
  /*serve inclusive para os seletores*/
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
  /* Cores */
  --primary-color:/* hsl(0,0%,6.27%) *//* hsl(192.5,100%,4.71%) */hsl(172.5,25%,6.27%);
  --secondary-color: hsl(0,0%,8.63%)/*  hsl(180, 1%, 18%); */;
  --third-color:hsl(0,0%,62.35%);
  --fourth-color:hsl(158.73,100%,30.98%);/* hsl(178.36,56.7%,38.04%) */ /* hsl(76.19,96.41%,43.73%) */;
  --input:hsl(210,10.34%,22.75%);

  --font-color:hsl(0,0%,100%);
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color:/*  #17a2b8 */ hsl(0,0%,6.27%);
  
  /* Fontes */
    --font-primary:'Poppins', sans-serif;
    --font-secundary:'Roboto', sans-serif;;
  }



ul {
  list-style-type: none;
  margin: 0; /* removendo a margem padrão da lista */
  padding: 0; /* removendo o preenchimento padrão da lista */
}

a {
  text-decoration: none;
  margin: 0; /* removendo a margem padrão da lista */
  padding: 0; /* removendo o preenchimento padrão da lista */
  color:var(--third-color);
}

body{
  background-color:var( --primary-color);
  position: relative;
  width: 100vw;
  height: 100vh;

}

header{
  position:relative;
  width: 100%;
  height: 100vh;
  display:grid;
  
}

nav {
  padding:0.5%;
  font-family: var(--font-primary);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
}


.video-container {
  position:absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit:cover;/*ajusta elemento dentro de containe preservanso a proporção e o aspecto*/
  z-index: -1; /*Diz o grau de empilhameto/*/
} 
  .name{
    display:flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--font-color);
    /* background-color: #dc3545; */
    animation-name: has-show;
    animation-duration: 3.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    
  }
   
  @keyframes has-show {
    from {
    opacity:0;
    
    
    }
    
    to{
    opacity:1;

    }
  } 
    



    
    /* acrescentar :style animation-delay:235ms */

  h1{
  position:absolute;
  top:40%;
  left:50%;
  font-size:3em;
  font-family: var(--font-primary);
  transform: translate(-50%, -50%);
  color:var(--font-color);
 
  }

 h2{
  position:absolute;
  top:50%;
  left:50%;
  font-size:2em;
  font-family: var(--font-primary);
  transform: translate(-50%, -50%);
  color: var(--font-color)

  } 

#initial-text{
  color: var(--info-color);
}

.navBar{
display:flex;
position: fixed;
animation-name: show-left;
animation-duration: 2.5s;
animation-fill-mode: linear;
}

@keyframes show-left {
  from{
    transform: translateY(-200px);
  }
  to{
    
    transform: translateY(0px);
  }
}



.icon-header{
 display:grid;
 align-self: flex-end;
 justify-self: end;
 gap:3em;
 margin-bottom:3em;
 margin-right:3em;
 
animation-name: show-bottom;
animation-duration: 3s;
animation-fill-mode: linear;

}

@keyframes show-bottom {
  from{
    transform: translateY(200px);
  }
  to{
    
    transform: translateY(0px);
  }
}


.icon-header img:hover{
  background-color: #28a745;
  border-radius:90%;
}


.icon-header img{
  height: 2em;
}



section{
  height: 100vh;
  padding: 2%;
  display: flex;
  z-index: 3;
}

.material-symbols-outlined{
display: none;
}

/*
320px — 480px: dispositivos móveis
481px — 768px: iPads, tablets
769px — 1024px: telas pequenas, laptops
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs
*/


@media only screen and (min-width: 320px) and (max-width:480px) {
  

  h2{
    left: 50%;
    font-size: 1.5em;
  }

  #profile-name{
    display:flex;
    align-items: center;
    left: 50%;
    font-size: 2em;
  }

  #initial-text{
    font-size: 1em;
  }

  #logo{
    position: fixed;
    left: 40%;
    right: 40%;
    top:0%;
    width: 20%;
    height: 4%;
    display:none;
  }

    /*toogle-google*/
  .material-symbols-outlined{
    display:block;
    position:fixed;/*remove elemento fluxo normal*/
    top: 0;
    right: 0;
    color:var(--third-color);
    cursor: pointer;

    
  }
  
  .icon-header{
    margin-right:2%;
  }

  .navBar{
    animation-name:show-right;
    flex-direction: column;
    font-size: xx-small;
    text-align: left;
    transform: translateX(-100%);
  }

  .show-right {
    animation-name:show-menu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
   @keyframes show-menu {
    to {
      transform: translateX(10%);
    }
  }  

  .hide-left {
    animation-name:hide-menu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
 @keyframes hide-menu {
    from {
      transform: translateX(10%);
    }

    to{
      transform: translateX(-110%);
    }
  } 
  
  
}
  
  
@media only screen and (min-width: 481px) and (max-width:768px) {
/*   h1{
    font-size: 1.5em;
     width: 100%;
  }

  .video-container{
    min-height: 100vh;
    min-width: 100vw;
  }

  nav{
    margin-right: 5%;
    padding: 0%;
    
  } */


  h2{
    left: 50%;
    font-size: 1.5em;
  }

  #profile-name{
    display:flex;
    align-items: center;
    left: 50%;
    font-size: 2em;
  }

  #initial-text{
    font-size: 1em;
  }

  .icon-header{
    margin-right:2%;
  }

     /*toogle-google*/
     .material-symbols-outlined{
      display:block;
      position:fixed;/*remove elemento fluxo normal*/
      top: 0;
      right: 0;
      color:var(--third-color);
      cursor: pointer;
  
      
    }

  .navBar{
    animation-name:show-right;
    flex-direction: column;
    font-size:small;
    text-align: left;
    transform: translateX(-100%);
  }

  .show-right {
    animation-name:show-menu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
   @keyframes show-menu {
    to {
      transform: translateX(10%);
    }
  }  

  .hide-left {
    animation-name:hide-menu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
 @keyframes hide-menu {
    from {
      transform: translateX(10%);
    }

    to{
      transform: translateX(-110%);
    }
  } 
  

  

}
  
@media only screen and (min-width: 769px) and (max-width:1024px){
  /* Estilos para dispositivos com largura mínima de 1024 pixels (desktops) */
  
  h2{
    left: 50%;
    font-size: 1.5em;
  }

  #profile-name{
    display:flex;
    align-items: center;
    left: 50%;
    font-size: 2em;
  }

  #initial-text{
    font-size: 1em;
  }

  .icon-header{
    margin-right:2%;
  }

     /*toogle-google*/
     .material-symbols-outlined{
      display:block;
      position:fixed;/*remove elemento fluxo normal*/
      top: 2%;
      right: 5%;
      color:var(--third-color);
      cursor: pointer;
      
      
    }

    

  .navBar{
    animation-name:show-right;
    flex-direction: column;
    font-size:small;
    text-align: left;
    transform: translateX(-100%);
  }

  .show-right {
    animation-name:show-menu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
   @keyframes show-menu {
    to {
      transform: translateX(10%);
    }
  }  

  .hide-left {
    animation-name:hide-menu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
 @keyframes hide-menu {
    from {
      transform: translateX(10%);
    }

    to{
      transform: translateX(-110%);
    }
  } 
  

  
}
  





/***************************************** Seção de  Sobre Mim ********************************* */

.about-me{
  display:grid;
  grid-template-columns:40% 60%; /*indica quantidade e tamanhos das colunas*/
  grid-row:1% 1%;
  grid-gap:5px; /*espaçamento entre linhas e colunas*/
  grid-template-areas: "title-about-me title-about-me" "my-image text-container";
  color:var(--font-color);
  font-size: var(--font-primary);
  padding:4em;
}

#coment{
  font-size:medium;
  color:var(--third-color);
}

.title-about-me{
  grid-area: title-about-me;
  justify-self: center;/*alinha o item no*/
  place-items: center;/* é como escrever: align-items: center;justify-items: center;*/
  font-size: 3em;
  padding: 5%;
/*   animation-name: top-box;
  animation-duration: 2s;
  animation-fill-mode: forwards; */
}

@keyframes top-box {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


.border-animation-about{
  margin-right:4em;
  width: 1em;
  height: 6px;
  border-style:dashed;
  border: right;
  border-color: var(--fourth-color);
  animation-name: move-right-about;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


@keyframes move-right-about {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(400%);
  }
}



.sub-title-about-me{
  font-size:2em;
  
}

.my-image {
  overflow: hidden; 
  position: relative;  
  width:79%;
  height:93%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
  
.my-image img {
  width:98%; 
  height: 98%; 
}


.my-image::after{
content:'';
position:absolute;
background: linear-gradient(hsl(160, 89%, 56%),hsl(206.74,100%,36.08%),hsl(76.19,96.41%,43.73%),hsl(175, 72%, 66%));
width:200%;
height:160%;
border-radius: 20%;
animation-name: my-image-animation;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
z-index: -1;
}

.my-image::after:hover{
  animation-play-state: paused;
}
 

@keyframes my-image-animation {
  to {
    transform: rotate(360deg);
  }
}
 









.description{
grid-area: description;
font-family: var(--font-primary);
text-align:start; 
color:var(--third-color);
margin-bottom:2%; 
border-bottom: solid 3px var(--third-color);
padding:5%;
}

#ask{
  color: #28a745;
}

#intro-sub-title{
  margin-top: 3%;
}



.description-bottom {
  /* grid-area: description-bottom; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px; /* Define o espaçamento entre as células */
}

.data{
  /* grid-area: data; */
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.data li{
 /*  background-color: #f5f5f5; */
  padding: 10px;
  justify-self:start;
  
}

#email{
  color:var(--third-color);
}

.data-color{
color: var(--third-color);
}

.btn-cv{
  background-color: hsl(158.73, 100%, 30.98%)/* hsl(123.45,86.34%,31.57%) */;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  margin-top: 3%;
}

.btn-cv:hover{
  opacity:8;
  filter: brightness(125%)
}

.social{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  padding-top:auto;
  margin-top: 2%;
}

.social-links{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
  
}
.social-links img{
  height: 2em;
  height: 2em;
}

.social-links img:hover{
  background-color: #28a745;
  border-radius:90%;
}

#social-border{
  border-bottom: solid 3px var(--third-color);
  width: 3em;
}


/*
320px — 480px: dispositivos móveis
481px — 768px: iPads, tablets
769px — 1024px: telas pequenas, laptops
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs
*/

@media screen and (min-width: 320px) and (max-width: 480px){
  .about-me {
    grid-template-columns: 1fr; 
    grid-template-areas: 
      "title-about-me"
      "my-image"
      "text-container";
    padding: 1%;
    margin-top:2%;
    align-items: center;
  }

  .title-about-me{
    grid-area: title-about-me;
    justify-self: center;
    place-items: center;
    font-size: 2em;
    padding: 2%;
    text-align:center;
   
  }

  .border-animation-about{
    margin-left:0.8em;
    width: 1em;
    height: 6px;
   
  }

  @keyframes move-right-about {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(1.2em);
    }
  }

  h3{
    font-size: xx-large;
  }

  .sub-title-about-me{
    font-size:medium;
  }

  .border-animation-about{
    margin-right:2em;
    width: 1em;
    height: 6px;
  }
  
  
  

  .my-image{
    align-items: center;
    width: 100%;
    
  }

  .my-image img {
    width:100px; /* fazer a imagem ocupar toda a largura da célula */
    height: 100px; /* ajustar a altura proporcionalmente */
    border-radius:50%; 
    align-items: center;
  }

  .my-image::after{
   
    width:104px;
    height:104px;
    border-radius:50%;
    z-index: -1;
    }
 
     #coment{
    font-size: medium;;
  }  
  .description{
    font-size: small;
  }
  .data{
    display: flex;
    flex-direction: column;
  }
  
  
}
/*ipad */
@media screen and (min-width:481px)and (max-width:768px) {
  .about-me {
    grid-template-columns: 1fr; 
    grid-template-areas: 
      "title-about-me"
      "my-image"
      "text-container";
    padding:5%;
    margin: 0px;
    font-size: medium;
  }

  .border-animation-about {
    margin-right:1em;
    transform: translateX(0);
  }

  .border-animation-about{
    margin-right:1em;
    width: 1em;
    height: 6px;
    border-style:dashed;
    border: right;
    border-color: var(--fourth-color);
    animation-name: move-right-about;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  .data{
    display: flex;
    flex-direction: column;
  }
  
  @keyframes move-right-about {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(1.5em);
    }
  }

  .my-image{
    align-items: center;
    width: 100%;
  }

  .my-image img {
    width:200px; 
    height: 200px; 
    border-radius:50%; 
    align-items: center;
  }

  .my-image::after{
   
    width:208px;
    height:208px;
    border-radius:50%;
    z-index: -1;
    }
  
  .social {
    margin-top: 2%; 
  }
  
  .btn-cv {
    margin-top: 2%; 
  }

  .title-about-me{
    grid-area: title-about-me;
    justify-self: center;
    place-items: center;
    font-size: 2em;
    padding: 2%;
    text-align:center;
   
  }
 
  
  .sub-title-about-me{
    font-size:1em;
    
  }
  
  .description{
    font-size: small;
  }
  
  
 

}
/* é como escrever: align-items: center;justify-items: center;*/
/* telas pequenas, laptops*/
@media screen and (min-width:769px) and (max-width:1024px) {
.about-me {
  grid-template-columns: 1fr 1fr; 
  grid-template-areas: 
    "title-about-me title-about-me"
    "my-image text-container";
}

.title-about-me{
  grid-area: title-about-me;
  justify-self: center;/*alinha o item no*/
  place-items: center;/* é como escrever: align-items: center;justify-items: center;*/
  font-size: 3em;
  padding: 5%;
  text-align: center;
/*   animation-name: top-box;
  animation-duration: 2s;
  animation-fill-mode: forwards; */
}

.border-animation-about{
  margin-right:1em;
  width: 1em;
  height: 6px;
 
}

@keyframes move-right-about {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1.8em);
  }
}
.my-image{
  align-items: center;
  width: 90%;
  height: 88%;
}


.my-image::after{
 
  width:250%;
  height:150%;
  z-index: -1;
  }

.my-image img {
  width: 98%; 
  height: 99%; 
 
}

.social {
  margin-top: 10%; 
}

.btn-cv {
  margin-top: 10%;
}
} 

/* tela grande */
@media screen and (min-width:1025px) and (max-width:1200px) {
 /* .about-me {
   grid-template-columns: 40% 60%; 
   grid-template-areas: 
     "title-about-me title-about-me"
     "my-image text-container";
   padding: 2em; 
 }
 .my-image{
   width:95%;
   justify-self: center;
 }


 .my-image::after{
  content:'';
  position:absolute;
  width:250%;
  height:250%;
  border-radius: 50%;
  z-index: -1;
}

  .description{
    font-size: larger;
  }  

  .data{
    font-size: medium;
    
  }
 
 .my-image img {
   width: 98%; 
   height: 98%;
  }
  
 .social {
   margin-top: 2%; 
 }
 
 .btn-cv {
   margin-top: 3%; 
 }
 */
} 
 /************************Teste Experience****************************/

 .container-experience{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 80%;
  grid-template-areas: "title-experience title-experience"
                        "certification technology";
  gap:2%;
  justify-items: center;
  justify-content: space-around;
  padding: 5%;
  
}



.title-experience{
grid-area:title-experience;
display: grid;
align-self: center;
color:var(--font-color);
font-size:3em;
text-align:center;
}

.border-animation-experience{
  margin-right:2em;
  width: 1em;
  height: 6px;
  border-style:dashed;
  border: right;
  border-color: var(--fourth-color);
  animation-name: move-right-experience;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  }


  @keyframes move-right-experience {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(4.5em);
    }
  }


.certification{
grid-area: certification;
display: grid;
grid-template-columns:1fr;
color:var(--font-color);
justify-self: self-start;
align-items:center;
width:100%;
}


#title-card{
  font-size:large;
  font: bold;
  width: 100%;
  align-items:center;
  text-align:center;
  font-size:xx-large;
  
}  

#title-technology{
  font-size:xx-large;
  font: bold;
  text-align:center;
  align-items:center;
}
/* .card{
 
} 
 */
.card-body{
  color: var(--third-color);
  height:100%;
  width: 100%;
  border:solid 0.1em var(--third-color); 
  border-left: solid 0.1em var(--fourth-color);
  background-color: var(--secondary-color);
  display: flex; /* para alinhar os elementos filhos em linha */
  flex-direction:column;
  align-items: center; /* centralizar os elementos filhos verticalmente */
  justify-content: center; /* centralizar os elementos filhos horizontalmente */
  text-align:center;
}

.card-body img{
  width:6em;
  height:6em;
  }
  

.card-title{
font-size:large;
/*  text-align:end; */
}



.technology{
grid-area:technology;
display: grid;
grid-template-columns: 1fr;
color:var(--font-color);
justify-self:start;
font: bold;
width:100%;
height:100%;
align-items:center;
}

.card-body2 {
  height: 100%; /* ocupar toda a altura do container-pai */
  color: var(--third-color);
  width: auto;
  border: solid 0.1em var(--third-color);
  border-left: solid 0.1em var(--fourth-color);
  background-color: var(--secondary-color);
  display: flex; /* para alinhar os elementos filhos em linha */
  align-items: center; /* centralizar os elementos filhos verticalmente */
  justify-content:space-around; /* centralizar os elementos filhos horizontalmente */
  text-align:center;
}

.card-body2 img{
width:6em;
height:7.3em;
}


 @media screen and (min-width: 320px) and (max-width: 480px){
  .container-experience{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 80%;
    grid-template-areas: "title-experience title-experience"
                          "certification technology";
    gap:2%;
    justify-items: center;
    justify-content: space-around;
    padding: 5%;
  }

  
  
  .title-experience{
  grid-area: title-experience;
  display: grid;
  align-self: center;
  height:10%;
  color:var(--font-color);
  font-size:medium;
  text-align:center;
  }

  .border-animation-experience{
    margin-right:2em;
    width: 2em;
    height: 6px;
    border-style:dashed;
    border: right;
    border-color: var(--fourth-color);
    animation-name: move-right-experience;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    }
  
  
    @keyframes move-right-experience {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(2.4em);
      }
    }
  
  
  .certification{
  grid-area: certification;
  display: grid;
  grid-template-columns:1fr;
  color:var(--font-color);
  justify-self: self-start;
  align-items:center;
  width:100%;
  }
  

  #title-card{
    font-size:small;
    font: bold;
    width: 100%;
    align-items:center;
    text-align:center;
  }  

  #title-technology{
    font-size:small;
    font: bold;
    text-align:center;
    align-items:center;
  }
  /* .card{
   
  } 
   */
  .card-body{
    color: var(--third-color);
    height:100%;
    width: 100%;
    border:solid 0.1em var(--third-color); 
    border-left: solid 0.1em var(--fourth-color);
    background-color: var(--secondary-color);
    display: flex; /* para alinhar os elementos filhos em linha */
    flex-direction:column;
    align-items: center; /* centralizar os elementos filhos verticalmente */
    justify-content: center; /* centralizar os elementos filhos horizontalmente */
    text-align:center;
  }
  
  .card-body img{
    height: 2em;
    width: 3em;
    }

  .card-title{
  font-size:small;
 /*  text-align:end; */
  }

  
  
  .technology{
  grid-area:technology;
  display: grid;
  grid-template-columns: 1fr;
  color:var(--font-color);
  justify-self:start;
  font-size:small;
  font: bold;
  width:100%;
  height:100%;
  align-items:center;
  }

  .card-body2 {
    height: 100%; /* ocupar toda a altura do container-pai */
    color: var(--third-color);
    width: auto;
    border: solid 0.1em var(--third-color);
    border-left: solid 0.1em var(--fourth-color);
    background-color: var(--secondary-color);
    display: flex; /* para alinhar os elementos filhos em linha */
    align-items: center; /* centralizar os elementos filhos verticalmente */
    justify-content:space-around; /* centralizar os elementos filhos horizontalmente */
    text-align:center;
  }
 
  .card-body2 img{
  width:2em;
  height:3.4em;
  }
  
 }


 @media screen and (min-width:481px)and (max-width:768px){
.title-experience{
font-size:large;

}

#title-card{
  font-size:medium;
}

#title-technology{
  font-size:medium;
}

.card-body{
  font-size:small;
}

.card-body2{
  font-size:small;
}
  
 @media screen and (min-width:769px)and (max-width:1024px){
  
 }
 }

 @media screen and (min-width:769px) and (max-width:1024px) {
  .title-experience{
    font-size:xx-large;
    
    }
    
    #title-card{
      font-size:large;
    }
    
    #title-technology{
      font-size:large;
    }
    
    .card-title{
      font-size:medium;
    }
    
    .card-body2 p{
      font-size:medium;
    }

    .card-body img {
      height: 4em;
      width: 6em;
  }

  .card-body2 img {
    height: 6em;
    width: 6em;
}
 }
 

/************************************************Section Projetos*********************************/

/* //--------------- carrosel em paginas */


.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows:auto;
  grid-gap:4% 7%; /*espaçamento entre linhas e colunas*/
  height:100%; 
  
}

.title-projects{
  display: flex;
  align-items: center;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3em;
  
}

 .border-animation-project{
  margin-right:3em;
  width: 1em;
  height: 5px;
  border-style:dashed;
  border: right;
  border-color: var(--fourth-color);
  animation-name: move-right;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300%);
  }
}

.title-section{
  padding: 1%;
}

.find-classification{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:var(--font-color);
}



.project-sub-title{
  display: flex;
  margin-right: 2em;
  border-bottom: solid 1px var(--primary-color); 
  color: var(--font-color);
}

.project-sub-title:hover{
 border-bottom: solid 1px var(--fourth-color); 
 cursor:pointer;
 color:var(--fourth-color);
}

a:hover{
  color:var(--fourth-color);
}


#coment-projects{
  font-size:medium;
  color:var(--third-color);
} 


.selected{
  color:var(--fourth-color);
  border-bottom: 2px solid var(--fourth-color);
}
.carousel{
  display: grid;                          
  grid-template-columns:repeat(auto-fit,30%);  
  grid-template-rows: repeat(3,30%); 
  gap:1em;
  justify-content: center;

}


.carousel-item {
  display: grid;
  grid-template-columns:repeat(auto-fit,30%);
  gap:2em 1em;
  text-align: center;
  animation-name: move-top-item;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes move-top-item{
  from {
    opacity:0;
    
    
    }
    
    to{
    opacity:1;

    }
}




.hide{
  display:none;
}

.card-front{
box-shadow: rgba(255, 255, 255, 0.27) 0px 0px 0.25em, rgba(255, 255, 255, 0.27) 0px 0.25em 1em;
transition: transform 0.3s ease-in-out;
height:11em;

}


.card-front:hover::before{
  content: "React"; /* necessário para pseudo-elementos ::before/::after */
  position: absolute; /* posição absoluta em relação ao elemento pai */
  top: 0; /* posição no topo do elemento pai */
  left: 0; /* posição no início do elemento pai */
  width: 100%; /* tamanho igual ao do elemento pai */
  height: 100%; /* tamanho igual ao do elemento pai */
  background-color: rgba(0, 0, 0, 0.678); /* fundo semi-transparente */
  z-index: 1; /* coloca o pseudo-elemento acima do elemento pai */
  color: white; /* cor do texto */
  font-size: 2em; /* tamanho da fonte */
  text-align: center; /* centraliza o texto horizontalmente */
  line-height: 5em; /* centraliza o texto verticalmente */
}

.card-front:hover{
  transform: scale(1.1);
  cursor: pointer;
  z-index: 2;
}

#Dom{
  box-shadow: rgba(255, 255, 255, 0.27) 0px 0px 0.25em, rgba(255, 255, 255, 0.27) 0px 0.25em 1em;
  transition: transform 0.3s ease-in-out;
  height:11em;

}


#Dom:hover::before{
  content: "Dom"; /* necessário para pseudo-elementos ::before/::after */
  position: absolute; /* posição absoluta em relação ao elemento pai */
  top: 0; /* posição no topo do elemento pai */
  left: 0; /* posição no início do elemento pai */
  width: 100%; /* tamanho igual ao do elemento pai */
  height: 100%; /* tamanho igual ao do elemento pai */
  background-color: rgba(0, 0, 0, 0.678); /* fundo semi-transparente */
  z-index: 1; /* coloca o pseudo-elemento acima do elemento pai */
  color: white; /* cor do texto */
  font-size: 2em; /* tamanho da fonte */
  text-align: center; /* centraliza o texto horizontalmente */
  line-height: 5em; /* centraliza o texto verticalmente */
}

#Dom:hover{
  transform: scale(1.1);
  cursor: pointer;
  z-index: 2;
}




.card-back{
box-shadow: rgba(255, 255, 255, 0.27) 0px 0px 0.25em, rgba(255, 255, 255, 0.27) 0px 0.25em 1em;
transition: transform 0.3s ease-in-out;
height:11em;
}

.card-back:hover::before{
  content: "Node"; /* necessário para pseudo-elementos ::before/::after */
  position: absolute; /* posição absoluta em relação ao elemento pai */
  top: 0; /* posição no topo do elemento pai */
  left: 0; /* posição no início do elemento pai */
  width: 100%; /* tamanho igual ao do elemento pai */
  height: 100%; /* tamanho igual ao do elemento pai */
  background-color: rgba(0,0,0,0.5); /* fundo semi-transparente */
  z-index: 1; /* coloca o pseudo-elemento acima do elemento pai */
  color: white; /* cor do texto */
  font-size: 2em; /* tamanho da fonte */
  text-align: center; /* centraliza o texto horizontalmente */
  line-height: 5em; /* centraliza o texto verticalmente */
}

.card-back:hover{
  transform: scale(1.1);
  cursor: pointer;
  z-index: 2;
}

.card-full{
  box-shadow: rgba(255, 255, 255, 0.27) 0px 0px 0.25em, rgba(255, 255, 255, 0.27) 0px 0.25em 1em;
  transition: transform 0.3s ease-in-out;
  height:11em;
  }
  
  .card-full:hover::before{
    content: "React"; /* necessário para pseudo-elementos ::before/::after */
    position: absolute; /* posição absoluta em relação ao elemento pai */
    top: 0; /* posição no topo do elemento pai */
    left: 0; /* posição no início do elemento pai */
    width: 100%; /* tamanho igual ao do elemento pai */
    height: 100%; /* tamanho igual ao do elemento pai */
    background-color: rgba(0,0,0,0.5); /* fundo semi-transparente */
    z-index: 1; /* coloca o pseudo-elemento acima do elemento pai */
    color: white; /* cor do texto */
    font-size: 2em; /* tamanho da fonte */
    text-align: center; /* centraliza o texto horizontalmente */
    line-height: 4em; /* centraliza o texto verticalmente */
    transform: translateY(0%);
  }

  .card-full:hover::after{
    content: "Node"; /* necessário para pseudo-elementos ::before/::after */
    position: absolute; /* posição absoluta em relação ao elemento pai */
    top: 0; /* posição no topo do elemento pai */
    left: 0; /* posição no início do elemento pai */
    width: 100%; /* tamanho igual ao do elemento pai */
    height: 100%; /* tamanho igual ao do elemento pai */
    background-color: rgba(0,0,0,0.0); /* fundo semi-transparente */
    z-index: 1; /* coloca o pseudo-elemento acima do elemento pai */
    color: white; /* cor do texto */
    font-size: 2em; /* tamanho da fonte */
    text-align: center; /* centraliza o texto horizontalmente */
    line-height: 6em; /* centraliza o texto verticalmente */
    transform: translateY(0%);
  }

.card-full:hover{
    transform: scale(1.1);
    z-index: 2;
    cursor: pointer;
}   

.carousel .carousel-item img{
  height: 100%; 
  width:100%;
  object-fit:fill;
}


  
  



/*
@media screen and (min-width: 320px) and (max-width: 480px){}320px — 480px: dispositivos móveis
@@media screen and (min-width: 481px) and (max-width:768px){}481px — 768px: iPads, tablets
@media screen and (min-width: 769px) and (max-width:1024px){}769px — 1024px: telas pequenas, laptops
@media screen and (min-width:1025px) and (max-width:1200px)1025px{} — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs
*/



@media screen and (min-width: 320px) and (max-width: 480px){
  .projects {

    gap: 0%;
  }
  .title-projects{
    margin-top: 5%;
  }

  .carousel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); /* ajusta o tamanho das colunas */
    grid-template-rows: repeat(3, 30%);
    gap: 1em;
    justify-content: center;
    
  }
  
  .carousel-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); /* ajusta o tamanho das colunas */
    gap: 3em 0.8em;
    font-size:xx-small;
    text-align: center;
    animation-name: move-top-item;
    animation-duration: 2s;
    animation-fill-mode: both;
  }
  .image-projects img{
    width:5%;
    height:10%;
  }

  .border-animation-project{
    margin-right:0.8em;
    width:0.6em;
    height: 5px;
 
  }

  @keyframes move-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0.8em);
    }
  }

  .card-full:hover::before{
    content: "React"; /* necessário para pseudo-elementos ::before/::after */
    position: absolute; /* posição absoluta em relação ao elemento pai */
    top: 0; /* posição no topo do elemento pai */
    left: 0; /* posição no início do elemento pai */
    width: 100%; /* tamanho igual ao do elemento pai */
    height: 100%; /* tamanho igual ao do elemento pai */
    background-color: rgba(0,0,0,0.5); /* fundo semi-transparente */
    z-index: 1; /* coloca o pseudo-elemento acima do elemento pai */
    color: white; /* cor do texto */
    font-size: 2em; /* tamanho da fonte */
    text-align: center; /* centraliza o texto horizontalmente */
    line-height: 4em; /* centraliza o texto verticalmente */
    transform: translateY(0%);
  }

    
}

@media screen and (min-width: 481px) and (max-width:768px){
  .projects {

    gap: 0%;
  }
  .title-projects{
    margin-top: 1%;
  }

  .carousel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* ajusta o tamanho das colunas */
    grid-template-rows: repeat(3, 30%);
    gap: 1em;
    justify-content: center;
    
  }
  
  .carousel-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* ajusta o tamanho das colunas */
    gap: 3em 0.8em;
    font-size:xx-small;
    text-align: center;
    animation-name: move-top-item;
    animation-duration: 2s;
    animation-fill-mode: both;
  }
  .image-projects img{
    width:5%;
    height:10%;
  }

  .border-animation-project{
    margin-right:0.8em;
    width:0.6em;
    height: 5px;
 
  }

  @keyframes move-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0.8em);
    }
  }
}

@media screen and (min-width: 769px) and (max-width:1024px){
  .projects {
    
     grid-gap:2%;
  
}


  .title-projects{
    margin-top: 7%;
  }
  
  
  .carousel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); /* ajusta o tamanho das colunas */
    grid-template-rows: repeat(3, 30%);
    /* gap: 1em; */
    justify-content: center;
  }
  
  .carousel-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); /* ajusta o tamanho das colunas */
    gap: 2.5em 1em;
    text-align: center;
    animation-name: move-top-item;
    animation-duration: 2s;
    animation-fill-mode: both;
  }
  
   .image-projects img{
     width:10%;
     height:10%;
   }

   .border-animation-project{
    margin-left:1.3em;
    width:1em;
    height: 5px;
 
  }

  @keyframes move-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(1.3em);
    }
  }
}

 @media screen and (min-width:1025px) and (max-width:1200px){
    .projects{
      grid-gap:0%;
    }  

   
    .carousel {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); /* ajusta o tamanho das colunas */
      grid-template-rows: repeat(3, 30%);
      /* gap: 1em; */
      justify-content: center;
    }
    
    .carousel-item {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); /* ajusta o tamanho das colunas */
      gap: 2.5em 1em;
      text-align: center;
      animation-name: move-top-item;
      animation-duration: 2s;
      animation-fill-mode: both;
    }
   .image-projects img{
    height:90%; 
    width:100%;
    object-fit:fill;
   }
   
}
  
  
 


/************************************************Contact-me***************************************/



 .contact-me{
  display: grid;
  grid-template-columns:55% 45%;
  grid-template-rows: 35% 65%;
  grid-template-areas:
  "title-contact-me title-contact-me"
  "form-contact-me my-contact";
  padding:3%;
  
 }

  #coment-title-contact-me{
  font-size:medium;
  color:var(--third-color);
  }

 .title-contact-me{
  grid-area: title-contact-me;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: var(--font-color);
  font-size: 3em;
 }

 .border-animation-contact{
  margin-top: 0.1em;
  margin-right:18%;
  width:1em;
  height: 0.1em;
  border-style:dashed;
  border: right;
  border-color: var(--fourth-color);
  animation-name: move-right-contact;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
 }
 
 @keyframes move-right-contact {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4.6em);
  }
 }


 
  #contact-form{
   grid-area: form-contact-me;
   display: grid;
   grid-template-columns:1fr 1fr;
   grid-template-rows:auto; /* 20% 20% 60%; */
   column-gap: 2em;
   align-items:start;
   margin-bottom: 20%;
  color: var(--font-color);
  grid-template-areas:
  "form-name form-email"
  "form-subject form-subject" 
  "form-message form-message";
  padding: 2%;
  } 

  .form-name{
  grid-area: form-name;
  display: grid;
 
  
  
  }
  .form-email{
    display: grid;
    grid-area: form-email;
    justify-content: stretch;
  }
  .form-subject{
    display: grid;
    grid-area: form-subject;
    
  }

  .form-message{
    display: grid;
    grid-area:form-message;
    

  } 

  textarea:focus {
    background-color: hsl(0, 0%, 0%);
   }
  
  
 textarea{
  background-color: var(--secondary-color);
  color:var(--third-color);;
  
 }
 
 input{
  color: var(--third-color);
  background-color: var(--secondary-color);
  height: 3em; 
  border: none;
  border-bottom: 2px solid  var(--third-color);
  transition: all 0.3s ease-in-out;
 }

 input:focus {
  background-color: hsl(0, 0%, 0%);
 }

 input:hover{
  border-bottom: 2px solid var(--fourth-color);
  transform: scale(1.0.5);
 }

 label{
  color:var(--font-color);
  font-size: large;
  font-weight: bold;
  }

  #btn{
  background-color: hsl(158.73, 100%, 30.98%);
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  margin-top: 3%;
  
}

#btn:hover{
  opacity:8;
  filter: brightness(125%)
} 

.my-contact{
  grid-area: my-contact;
  color: var(--third-color);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "title-my-contact title-my-contact" 
  "sub-title-my-contact sub-title-my-contact"
  "icons icons-contact";
 /*  justify-items: center;
  justify-content:stretch; */
  padding: 2%;
  margin-bottom:30%;
} 

.title-my-contact{
display: grid;
grid-area: title-my-contact;
font-size: large;
color: var(--font-color);
font-weight: bold;

}

.sub-title-my-contact{
  display: grid;
  grid-area: sub-title-my-contact;
  text-align:start;
}

.icons{
display: grid;
grid-area: icons;
justify-content: center;
border-right:solid 3px var(--third-color);
}

.icons-contact{
  display: grid;
  grid-area: icons-contact;
  justify-items:start;
  margin-left: 10%;
  
}

.highlights{
  color: var(--font-color);
  font-weight: bold;
  }



/*
@media screen and (min-width: 320px) and (max-width: 480px){}320px — 480px: dispositivos móveis
@@media screen and (min-width: 481px) and (max-width:768px){}481px — 768px: iPads, tablets
@media screen and (min-width: 769px) and (max-width:1024px){}769px — 1024px: telas pequenas, laptops
@media screen and (min-width:1025px) and (max-width:1200px)1025px{} — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs
*/


@media screen and (min-width: 320px) and (max-width: 480px){
  .contact-me {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0%;
    grid-template-areas:
      "title-contact-me"
      "my-contact"
      "form-contact-me";
    gap:0.3em;
    padding:1%;
  }
  .my-contact {
    grid-template-columns: 1fr 1.1fr;
    grid-template-areas:
    "title-my-contact title-my-contact"
    "sub-title-my-contact sub-title-my-contact"
    "icons icons-contact";
    grid-template-rows: 0.8fr;
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 0%;
   /*  grid-template-rows: auto auto 100%; */ /* definindo a terceira linha com 50px de altura */
    
    font-size: small;
  }

  #coment-title-contact-me{
    display: none;
  }

  .title-contact-me{
    margin-top: 5%;
  }
 /*  .title-my-contact{
    display:none;
  }

  .sub-title-my-contact{
    display: none;
  } */

 
  .icons-contact img{
  width: auto;
  height: auto;
  }
  
  .form-contact-me {
    grid-template-columns: 1fr ;
    grid-template-areas:
      "form-name"
      "form-email"
      "form-subject"
      "form-message";
    column-gap: 0;
    align-self: center;
    font-size: xx-small;
  }

  #message-input {
  resize: both;
  width: 100%; /* ajuste o tamanho conforme necessário */
  height: 100%; /* ajuste o tamanho conforme necessário */
}

  .form-message{

    font-size: small;
  } 

   
  h3{
    font-size:medium;
  }
  #contact-form{
    margin: 0%;
    padding:0%;
    width: 100%;
    column-gap: 0.5em;
    font-size: small;
  }
  #btn{
    height: 65%;
    margin: 0;
  }

  .border-animation-contact{
    margin-top: 0.1em;
    margin-right:1.4em;
    width:0.6em;
    height: 0.1em;
   
   }
   
   @keyframes move-right-contact {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(220%);
    }
   }
  
  
}

@media screen and (min-width: 481px) and (max-width:768px){
  .contact-me {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0%;
    grid-template-areas:
      "title-contact-me"
      "my-contact"
      "form-contact-me";
    gap:0.3em;
    

    
  }


  
  .my-contact {
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "title-my-contact title-my-contact"
    "sub-title-my-contact sub-title-my-contact"
    "icons icons-contact";
    grid-template-rows: 0.8fr;
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 0%;
    
  }

    
  .title-my-contact{
    font-size: larger;
  }

 
  .icons-contact img{
  width: auto;
  height: auto;
  }
  
  .form-contact-me {
    grid-template-columns: 1fr ;
    grid-template-areas:
      "form-name"
      "form-email"
      "form-subject"
      "form-message";
    column-gap: 0;
    align-self: center;
    
    
   
  }

  /* textarea::placeholder {
    rows:"5";
  } */
/*   textarea[cols="25"] {
   color:red;
  } */

  #message-input {
  resize: both;
  width: 100%; /* ajuste o tamanho conforme necessário */
  height: 100%; /* ajuste o tamanho conforme necessário */
}

.highlights{
  font-size: medium;
}

h3{
  font-size:large;
}

  .form-message{

    font-size: small;;
  } 

  #contact-form{
    margin: 0%;
    padding:0%;
    width: 100%;
  }


  p{
   font-size: 0.9em;
  }

  label{
    font-size:small;
  }

  
  
  #btn{
    height: 80%;
    margin: 0;
  }
   
  .border-animation-contact{
    margin-top: 0.1em;
    margin-right:1.5em;
    width:0.6em;
    height: 0.1em;
   
   }
   
   @keyframes move-right-contact {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(230%);
    }
   }
  
}

@media screen and (min-width: 769px) and (max-width:1024px){
 
  .contact-me{
    display: grid;
    grid-template-columns:55% 45%;
    grid-template-rows: 30% 60%;
    grid-template-areas:
    "title-contact-me title-contact-me"
    "form-contact-me my-contact";
    padding:3%;
    
   }
   
  .title-contact-me{
    justify-content: center;
  } 

   h3{
    font-size:xx-large;
   }

   .border-animation-contact{
    margin-top: 0.1em;
    margin-right:12%;
    width:5%;
    height: 0.1em;
   
   }
   
   @keyframes move-right-contact {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(235%);
    }
   }
   
   .my-contact{
    font-size:large;
   }

   #contact-form{
    gap:2em 1em;
   }

   .my-contact{
    grid-template-rows: 10% 20% 60%;
   }
 
}